node_modules
dist
.env
/generated/prisma
*firebase-adminsdk*.json
eslint.config.mjs
eslint.config.mjs.map
eslint.config.d.mts
eslint.config.d.mts.map
prisma.config.js
prisma.config.js.map
prisma.config.d.ts
prisma.config.d.ts.map
prisma/**/*.js
prisma/**/*.js.map
prisma/**/*.d.ts
